/* Tailwind CSS 기본 지시문 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 폰트 및 배경 설정 */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7fee7; /* lime-50 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 추가적으로 필요한 공통 스타일을 여기에 추가할 수 있습니다. */
